@model IEnumerable<CinemaBookingSystem.ViewModels.SlideViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int num = 0;
    int totalSlide = Model.Count();
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Slide/</span> List</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">DANH SÁCH BANNER</h4>
                    <hr />
                    <h5 class="card-header">Banner hiện có : @totalSlide</h5>
                </div>
                <div class="card-body">
                    <a asp-action="Create" style="padding-left:20px !important"> <input type="submit" class="btn btn-primary" value="Thêm mới" /></a>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên banner</th>
                                    <th>Chú thích</th>
                                    <th>Hình ảnh</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    num++;
                                    <tr>
                                        <td>
                                            <span>@num</span>
                                        </td>
                                        <td>
                                           @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <img src="@("/media/slides/" + @item.Image)" alt="Lỗi ảnh" width="300" height="150" />
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.SlideId"> <input type="submit" value="Chỉnh sửa" class="btn btn-warning" /></a>
                                            &nbsp&nbsp
                                            <a asp-action="Delete" asp-route-id="@item.SlideId"> <input type="submit" value="Xóa" class="btn btn-danger" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên banner</th>
                                    <th>Chú thích</th>
                                    <th>Hình ảnh</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

