@model IEnumerable<CinemaBookingSystem.ViewModels.ArticleViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="@("../assets/img/banner.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>TIN MỚI</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="blog__item small__item set-bg" data-setbg="@("/media/articles/" + item.ArticleImage)">
                                    <div class="blog__item__text">
                                        <p><span class="icon_calendar"></span> @item.CreatedDate.ToString("HH:mm dd/MM/yyyy")</p>
                                        <h4><a asp-action="Details" asp-controller="Article" asp-route-id="@item.ArticleId">@item.ArticleTitle</a></h4>
                                    </div>
                                </div>
                            </div>
                        }
                    }  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

