@model IPagedList<CinemaBookingSystem.ViewModels.BookingViewModel>;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int num = 0;
    int totalBooking = Model.TotalItemCount;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Booking/</span> List</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">DANH SÁCH ĐƠN ĐẶT VÉ</h4>
                    <hr />
                    <h5 class="card-header">Tổng số đơn : @totalBooking</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã lấy vé</th>
                                    <th>Ngày đặt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    num++;
                                    <tr>
                                        <td>
                                            <span>@num</span>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-controller="Booking" asp-route-id="@item.BookingId"> @Html.DisplayFor(modelItem => item.VerifyCode)</a>
                                        </td>
                                        <td>
                                            @item.BookedAt.ToString("HH:mm dd/MM/yyyy")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th>STT</th>
                                    <th>Mã lấy vé</th>
                                    <th>Ngày đặt</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    <nav aria-label="Page navigation">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions(){
                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        })
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

