@using CinemaBookingSystem.ViewModels;
@model IEnumerable<BookingDetailViewModel>;
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.First().Booking.User.FullName-@DateTime.Now.ToString()</title>
</head>
<style>
    *,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        color: #454f54;
        background-color: #f4f5f6;
        background-image: linear-gradient(to bottom left, #abb5ba, #d5dadd);
    }

    .ticket {
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-width: 24rem;
    }

    .ticket__header, .ticket__body, .ticket__footer {
        padding: 1.25rem;
        background-color: white;
        border: 1px solid #abb5ba;
        box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
    }

    .ticket__header {
        font-size: 1.5rem;
        border-top: 0.25rem solid #dc143c;
        border-bottom: none;
        box-shadow: none;
    }

    .ticket__wrapper {
        box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
        border-radius: 0.375em 0.375em 0 0;
        overflow: hidden;
    }

    .ticket__divider {
        position: relative;
        height: 1rem;
        background-color: white;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .ticket__divider::after {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            top: 0;
            border-bottom: 2px dashed #e9ebed;
        }

    .ticket__notch {
        position: absolute;
        left: -0.5rem;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
    }

        .ticket__notch::after {
            content: "";
            position: relative;
            display: block;
            width: 2rem;
            height: 2rem;
            right: 100%;
            top: -50%;
            border: 0.5rem solid white;
            border-radius: 50%;
            box-shadow: inset 0 2px 4px rgba(41, 54, 61, 0.25);
        }

    .ticket__notch--right {
        left: auto;
        right: -0.5rem;
    }

        .ticket__notch--right::after {
            right: 0;
        }

    .ticket__body {
        border-bottom: none;
        border-top: none;
    }

        .ticket__body > * + * {
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            border-top: 1px solid #e9ebed;
        }

    .ticket__section > * + * {
        margin-top: 0.25rem;
    }

    .ticket__section > h3 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }

    .ticket__header, .ticket__footer {
        font-weight: bold;
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
    }

    .ticket__footer {
        border-top: 2px dashed #e9ebed;
        border-radius: 0 0 0.325rem 0.325rem;
    }
</style>
<body>
    <article class="ticket">
        <header class="ticket__wrapper">
            <div class="ticket__header">
                <h2>CINE<span style="color:red">MAX</span> Ticket</h2>
            </div>
        </header>
        <div class="ticket__divider">
            <div class="ticket__notch"></div>
            <div class="ticket__notch ticket__notch--right"></div>
        </div>
        <div class="ticket__body">
            <section class="ticket__section">
                <h3>Khách hàng: @Model.First().Booking.User.FullName</h3>
                <p>Mã xác thực: @Model.First().Booking.VerifyCode</p>
            </section>
            <section class="ticket__section">
                <h3>@Model.First().ScreeningPosition.Screening.Movie.MovieName</h3>
                <p>@Model.First().ScreeningPosition.Screening.Theatre.Cinema.CinemaName - @Model.First().ScreeningPosition.Screening.Theatre.TheatreName</p>
                <p>Ngày chiếu: @Model.First().ScreeningPosition.Screening.ShowTime.ToString("dd/MM/yyyy") </p>
                <p>Giờ chiếu: @Model.First().ScreeningPosition.Screening.ShowTime.ToString("HH:mm") (Thời gian chiếu: @Model.First().ScreeningPosition.Screening.Movie.RunningTime phút)</p>
            </section>
            <section class="ticket__section">
                <h3>Ghế:</h3>
                <p>
                    @foreach (var item in Model)
                    {
                        if (Model.Last() == item)
                        {
                            string seat = item.ScreeningPosition.Row + item.ScreeningPosition.Column;
                            <text>@seat.</text>
                        }
                        else
                        {
                            string seat = item.ScreeningPosition.Row + item.ScreeningPosition.Column;
                            <text>@seat, </text>
                        }
                    }
                </p>
            </section>
        </div>
        <footer class="ticket__footer">
            <span>Chúc quý khách xem phim vui vẻ</span>
        </footer>
    </article>
</body>
</html>
