@model CinemaBookingSystem.ViewModels.ScreeningViewModel;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? currentTheatreId = Context.Session.GetInt32("currentTheatreId");
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Thêm mới lịch chiếu</h5>
                    <small class="text-muted float-end text-danger">* là thông tin bắt buộc</small>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create" asp-controller="Screening">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="movie-select">Chọn phim<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <select id="movie-select" class="form-select" asp-for="MovieId">
                                    @{
                                        foreach (var item in ViewBag.MovieList as IEnumerable<CinemaBookingSystem.ViewModels.MovieViewModel>)
                                        {
                                            <option value="@item.MovieId">@item.MovieName</option>
                                        }
                                    }

                                </select>
                                <span asp-validation-for="MovieId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="show-time">Chọn rạp<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                @Html.DropDownList("Cinema", ViewBag.Cinemas as SelectList, "Hãy chọn rạp", new { @class="form-select"})
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="show-time">Chọn phòng chiếu<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                @Html.DropDownList("Theatre", new SelectList(string.Empty, "theatreId", "theatreName"), "Hãy chọn phòng chiếu", new { @class = "form-select" })
                                <span asp-validation-for="ScreeningId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="show-time">Ngày giờ chiếu<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input asp-for="ShowTime" type="datetime-local" class="form-control" id="show-time" required />
                                <span asp-validation-for="ShowTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="price">Giá chỗ ngồi (VNĐ)<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input  type="number" class="form-control" name="positionPrice" id="price" required/>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success w-100" value="Thêm mới">Thêm mới</button> &ensp;
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <a asp-action="Index" asp-controller="Screening" asp-route-id="@currentTheatreId"> <input type="submit" class="btn btn-primary" value="Trở về danh sách" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Cinema").change(function () {
            $("#Theatre").empty();
            $.ajax({
                type: 'POST',
                url: '/Screening/GetTheatre', // Calling json method
                dataType: 'json',
                data: { id: $("#Cinema").val() },
                // Get Selected Country ID.
                success: function (theatres) {
                    console.log(theatres);
                    $.each(theatres, function (i, theatre) {
                        $("#Theatre").append('<option value="' + theatre.theatreId + '">' +
                            theatre.theatreName + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
