@model IPagedList<CinemaBookingSystem.ViewModels.ScreeningViewModel>;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int num = 0;
    int totalScreening = Model.TotalItemCount;
    int? currentId = Context.Session.GetInt32("currentCinemaId");
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Screening/</span> List</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">DANH SÁCH SUẤT CHIẾU</h4>
                    <h5 class="card-header">Suất chiếu hiện có : @totalScreening</h5>
                </div>
                <div class="card-body">
                    <div style="display:flex;">
                        <a asp-action="TheatreChoose" asp-controller="Screening" asp-route-id="@currentId" style="padding-left:20px !important"> <input type="submit" class="btn btn-primary" value="Trở về danh sách phòng chiếu" /></a>
                        <a asp-action="Create" asp-controller="Screening" style="padding-left:20px !important"> <input type="submit" class="btn btn-primary" value="Thêm mới" /></a>
                    </div>
                    <br />
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên phim</th>
                                    <th>Ngày chiếu</th>
                                    <th>Giờ chiếu</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Reverse())
                                {
                                    num++;
                                    <tr>
                                        <td>
                                            <span>@num</span>
                                        </td>
                                        <td>
                                            @item.Movie.MovieName
                                        </td>
                                        <td>
                                            @item.ShowTime.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item.ShowTime.ToString("HH:mm")
                                        </td>
                                        <td>
                                            @{
                                                if (item.ShowTime < DateTime.Now)
                                                {
                                                    <span class="badge bg-label-success me-1">Đã chiếu</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-label-primary me-1">Sắp chiếu</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="ScreeningPositionsDetails" asp-controller="Screening" asp-route-id="@item.ScreeningId"> <input type="submit" value="Xem thông tin chỗ ngồi" class="btn btn-primary" /></a>
                                            &nbsp&nbsp
                                            <a asp-action="Details" asp-controller="Screening" asp-route-id="@item.ScreeningId"> <input type="submit" value="Xem chi tiết" class="btn btn-primary" /></a>
                                            &nbsp&nbsp
                                            <a asp-action="Edit" asp-controller="Screening" asp-route-id="@item.ScreeningId"> <input type="submit" value="Chỉnh sửa" class="btn btn-warning" /></a>
                                            &nbsp&nbsp
                                            <a asp-action="Delete" asp-controller="Screening" asp-route-id="@item.ScreeningId"> <input type="submit" value="Xóa" class="btn btn-danger" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên phim</th>
                                    <th>Ngày chiếu</th>
                                    <th>Giờ chiếu</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    <nav aria-label="Page navigation">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions(){
                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        })
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

