@model IPagedList<CinemaBookingSystem.ViewModels.ArticleViewModel>;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int num = 0;
    int totalArticle = Model.TotalItemCount;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">DANH SÁCH BÀI VIẾT</h4>
                    <hr />
                    <h5 class="card-header">Bài viết hiện có : @totalArticle</h5>
                </div>
                <form method="post">
                    <div class="row">
                        <div class="col-sm-8" style="padding-left:30px !important">
                            <input type="text" name="key" placeholder="Tìm kiếm..." class="form-control" />
                        </div>
                        <button type="submit" class="col-sm-1 btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <br />
                <a asp-action="Create" asp-controller="Article" style="padding-left:30px !important"> <input type="submit" class="btn btn-primary" value="Thêm mới" /></a>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tiêu đề</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    num++;
                                    <tr>
                                        <td>
                                            <span>@num</span>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.ArticleId"> @Html.DisplayFor(modelItem => item.ArticleTitle)</a>

                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ArticleId"> <input type="submit" value="Chỉnh sửa" class="btn btn-warning" /></a>
                                            &nbsp&nbsp
                                            <a asp-action="Delete" asp-route-id="@item.ArticleId"> <input type="submit" value="Xóa" class="btn btn-danger" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th>STT</th>
                                    <th>Tiêu đề</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    <nav aria-label="Page navigation">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions(){
                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        })
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

