@model IEnumerable<CinemaBookingSystem.ViewModels.MovieViewModel>;
@{
    ViewData["Title"] = "Index";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @{
                foreach (var item in ViewBag.Carousel)
                {
                    <div class="hero__items set-bg" data-setbg="@("/media/banners/" + item.BannerImg)">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <div class="label">@item.Genres</div>
                                    <h2>@item.MovieName</h2>
                                    <p style="display: -webkit-box;
                                        max-height: 4.8rem;
                                       -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: normal;
                                        -webkit-line-clamp: 3;
                                        line-height: 1.6rem;">
                                        @item.Description
                                    </p>
                                    @if (item.ReleaseDate > DateTime.Now)
                                    {
                                        <a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId"><span>Phim sắp chiếu</span> <i class="fa fa-angle-right"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId"><span>Đặt vé ngay</span> <i class="fa fa-angle-right"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Phim mới</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-action="New" asp-controller="Movie" class="primary-btn">Xem tất cả <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            foreach (var item in Model.Where(x => DateTime.Now.Subtract(x.ReleaseDate).Days <= 30).OrderByDescending(x => x.ReleaseDate).Take(6))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@("/media/thumpnails/" + item.ThumpnailImg)">
                                            <div class="comment"><i class="fa fa-comments"></i> @item.Comments.Count()</div>
                                            <div class="view"><i class="fa fa-clock-o"></i> @item.RunningTime phút</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.Genres</li>
                                            </ul>
                                            <h5><a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId">@item.MovieName</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Phim đang chiếu</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-action="NowShowing" asp-controller="Movie" class="primary-btn">Xem tất cả <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            foreach (var item in Model.Where(x => x.ReleaseDate < DateTime.Now && x.Screenings.Count() != 0).OrderByDescending(x => x.ReleaseDate).Take(6))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@("/media/thumpnails/" + item.ThumpnailImg)">
                                            <div class="comment"><i class="fa fa-comments"></i> @item.Comments.Count()</div>
                                            <div class="view"><i class="fa fa-clock-o"></i> @item.RunningTime phút</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.Genres</li>
                                            </ul>
                                            <h5><a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId">@item.MovieName</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="live__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Phim sắp chiếu</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-action="ComingSoon" asp-controller="Movie" class="primary-btn">Xem tất cả <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            foreach (var item in Model.Where(x => x.ReleaseDate > DateTime.Now))
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@("/media/thumpnails/" + item.ThumpnailImg)">
                                            <div class="comment"><i class="fa fa-comments"></i> @item.Comments.Count()</div>
                                            <div class="view"><i class="fa fa-clock-o"></i> @item.RunningTime phút</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>@item.Genres</li>
                                            </ul>
                                            <h5><a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId">@item.MovieName</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>Xem gì hôm nay</h5>
                        </div>
                        @{
                            foreach (var item in Model.Where(x => x.ReleaseDate < DateTime.Now).OrderByDescending(y => y.ReleaseDate).Take(6))
                            {
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="@("/media/thumpnails/" + item.ThumpnailImg)" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>@item.Genres</li>
                                        </ul>
                                        <h5><a asp-action="Details" asp-controller="Movie" asp-route-id="@item.MovieId">@item.MovieName</a></h5>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

