@model CinemaBookingSystem.ViewModels.MovieViewModel;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string releaseDate = Model.ReleaseDate.ToString("dd/MM/yyyy");
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">@Html.DisplayFor(model => model.MovieName)</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="movie-name">Tên phim</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.MovieName)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="hotline">Đạo diễn</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Director)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Diễn viên</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Cast)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Ngày khởi chiếu</label>
                            <div class="col-sm-10">
                                @releaseDate
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Thể loại</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Genres)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Thời lượng</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.RunningTime) phút
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Đánh giá</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Rated)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Trailer</label>
                            <div class="col-sm-10">
                                <iframe width="795" height="447" src="@Model.TrailerURL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Ảnh thumpnail</label>
                            <div class="col-sm-10">
                                <img src="@("/media/thumpnails/" + @Model.ThumpnailImg)" alt="Phim không có ảnh thumpnail" width="300" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Ảnh banner</label>
                            <div class="col-sm-10">
                                <img src="@("/media/banners/" + @Model.BannerImg)" alt="Phim không có ảnh banner" width="795" height="447" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Mô tả phim</label>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <a asp-action="Edit" asp-route-id="@Model.MovieId"> <input type="submit" class="btn btn-warning" value="Chỉnh sửa" /></a> &ensp;
                            <a asp-action="Index"> <input type="submit" class="btn btn-primary" value="Trở về danh sách" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

