@model IEnumerable<CinemaBookingSystem.ViewModels.CinemaViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Rạp phim hiện có</h5>
    <a asp-action="Create"> <input type="submit" class="btn btn-primary" value="Thêm mới"/></a>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên rạp</th>
                    <th>Hotline</th>
                    <th>FAX</th>
                    <th>Địa chỉ</th>
                    <th>Thành phố</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.CinemaId"> @Html.DisplayFor(modelItem => item.CinemaName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CinemaId"> <input type="submit" value="Chỉnh sửa" class="btn btn-warning" /></a>
                            &nbsp&nbsp
                            <a asp-action="Delete" asp-route-id="@item.CinemaId"> <input type="submit" value="Xóa" class="btn btn-danger" /></a>
                            &nbsp&nbsp
                            <a asp-action="Index" asp-controller="Theatre" asp-route-id="@item.CinemaId"> <input type="submit" value="Danh sách phòng chiếu" class="btn btn-primary" /></a>
                        </td>
                    </tr>
                } 
            </tbody>
            <tfoot class="table-border-bottom-0">
                <tr>
                    <th>Tên rạp</th>
                    <th>Hotline</th>
                    <th>FAX</th>
                    <th>Địa chỉ</th>
                    <th>Thành phố</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
